---
import LetterGlitch from "../React/LetterGlitch.tsx";
import LogoWall from "../components/logoWall.astro";
import SkillsList from "../React/SkillsList.tsx";
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
  <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
    <div class="text-left space-y-4">
      <p class="text-md md:text-lg text-[var(--white-icon)] shiny-white">
        Hola, soy Ma Het'si Cruz
      </p>
      <div
        class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
      >
        <h1
          class="text-[var(--white)] text-5xl md:text-6xl font-medium text-pretty leading-none"
        >
          Software <br /> Developer
        </h1>
        
        <p class="text-md md:text-2xl text-[var(--white-icon)]">
           <span class="text-[var(--sec)] shiny-sec"
            >Convirtiendo ideas en soluciones</span
          > web y móviles completas.
        </p>
        <h3 class="text-[var(--white)] text-1xl md:text-3xl font-medium text-pretty leading-none"> 
         Estudiante Ing. Software 8vo cuatrimestre - UPP 
        </h3>
      </div>
      <div class="flex justify-start gap-2 pt-3 md:pt-6">
        <!-- GitHub -->
        <a
          target="_blank"
          href="https://github.com/Maheetsy"
          aria-label="GitHub"
          class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
            <path d="M12.001 2C6.47598 2 2.00098 6.475 ..." />
          </svg>
        </a>

        <!-- LinkedIn -->
        <a
          target="_blank"
          href="https://www.linkedin.com/in/mahetsi/"
          aria-label="LinkedIn"
          class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
            <path d="M18.3362 18.339H15.6707V14.1622C15.6707..." />
          </svg>
        </a>

        <!-- Email -->
        <a
          target="_blank"
          href="https://mail.google.com/mail/?view=cm&fs=1&to=maheetsy@gmail.com&su=Hola%20Mahe!"
          aria-label="Email"
          class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="2.1em" height="2.1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="m18.73 5.41l-1.28 1L12 10.46L6.55 6.37..." />
          </svg>
        </a>

        <!-- Google Cloud -->
        <a
          target="_blank"
          href="https://developers.google.com/profile/u/118365254703903760899"
          aria-label="Google Cloud"
          class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" class="size-8">
            <path fill="#EA4335" d="M67.38 106.3L90 130.63l33.47-33.46-23.26-24.32a53.5..." />
            <path fill="#4285F4" d="M204.74 109.3a66.38 66.38 0 0 0-65.4-65.39..." />
            <path fill="#34A853" d="M90.51 199.11h33.22v-33.23H90.51a33.21..." />
            <path fill="#FBBC05" d="M123.73 165.88h33.23v-33.22h-33.23z" />
          </svg>
        </a>
      </div>
    </div>

    <LogoWall />

    <div class="flex flex-col lg:flex-row items-center gap-8">
      <SkillsList client:load />
      <div
        class="flex justify-center md:w-full md:h-[292px] size-[290px] pt-3 md:pt-9 md:ml-16"
      >
        <LetterGlitch
          client:load
          glitchColors={["#5e4491", "#A476FF", "#241a38"]}
          glitchSpeed={33}
          centerVignette={false}
          outerVignette={true}
          smooth={true}
        />
      </div>
    </div>
  </div>
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }
</style>
